__pycache__
*.pyc
.pytest_cache
__pycache__
.idea
src/settings/local.py
/.git
.vscode
*.sql
src/logs/
src/media/
src/static/

.vscode/
.github/
.idea/
.git/
__pycache__/
tmp/
venv/
mounts/
.env
*.yml
*.log
sample.*
.gitignore